<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&family=League+Spartan&display=swap" rel="stylesheet">
    <title>MRU Paged Allocation</title>
</head>
<body>
    <script src="script.js"></script>
    <nav class="nav-bar">
        <h2>MRU Paged Allocation</h2>
        <ul class="nav-links">
            <li><a href="../../index.html" class="active">Home</a></li>
            <li class="dropdown">
                <a href="#">Memory Scheduling Algos</a>
                <div class="dropdown-content">
                    <a href="../relocation-comaption/reloc_compact.html">Relocation with Compaction</a>
                    <a href="../mru-paged-allocation/index.html">MRU Paged Allocation</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#">CPU Scheduling Algos</a>
                <div class="dropdown-content">
                    <a href="../non-preemptive-fcfs/index.html">Non-Preemptive FCFS</a>
                    <a href="../preemptive-priority/index.html">Preemptive Priority</a>
                </div>
            </li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>

    <div class="main-container">
        <div class="input-container">
            <h2>Input</h2>
            <form name="input-form">
                <label>Frame Count</label>
                <input type="text" name="frameSizeForm" placeholder="eg. 3">

                <label>Page Numbers</label>
                <input type="text" name="pageNumbersForm" placeholder="eg. 1 1 2 1 1 2 3">
                
                <button type="button" onClick="runMRU(this.form)">Process</button>
            </form>
        </div>

        <div class="output-container">
            <h2>Output</h2>
            <div class="output-tables">
                <table id="output"></table>
            </div>
        </div>
    </div>
</body>
</html>
